.side-bar{
    position: fixed;
    z-index: 2;
    background-color: #fff;
    box-shadow: 4px 0px 10px 2px rgba(0,0,0,0.045);
}

.nav-link:hover,
.nav-link.active {
    border-radius: 0;
    background-color: #e8f1ff !important;
    color:#0757C6 !important;
}

.nav-link.dimmed {
    opacity: 0.6;
    background-color: #fff;
}