@font-face {
    font-family: Inter;
    src: url('../fonts/Inter-VariableFont-wght.ttf');
}
*{
    font-family: Inter;
}
.btn-primary{
    background-color: #0757C6 !important;
}
::placeholder {
    font-size: 0.9rem;
    opacity: 0.5;
}

body{
    margin:0;
    padding:0;
    overflow-y: scroll;
    overflow-x: hidden;   
}
.auth-labels {
    font-size: 1.2rem;
    color: #212529;
}

.auth-textbox {
    margin-bottom: .5em;
    height: 3.25em;
    font-size: 1rem !important;
    background-color: #fbfcff;
    border-color: #C9C9C9;
}
.auth-textbox:focus {
    border-color: #10256f;
    box-shadow: none;
}
.auth-textbox:active {
    background-color: #E9E9E9;
    border-color: #C9C9C9;
    box-shadow: none;
}
.auth-button{
    height: 3.25em !important;
}
.auth-button:hover{
    background-color: #1667da !important;
}
.auth_btn{
    font-size: 1em;
    text-decoration: none;
}
.background{
    position: fixed;
    z-index: -1;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100vw;
    background-image: url('../../../public/assets/background.png');
}

.form-bg{
    height: 100vh;
    background-color: rgba(255,255,255,0.55);
    box-shadow: -1px 0px 20px 1px rgba(0,0,0,0.02);
}
.auth_btn{
    font-size: 1em;
    text-decoration: none;
}
.auth_btn:hover{
    color:#0757C6 !important;
    text-decoration: underline;
}
.neg{
    margin-left: -30px;
}
.navbar-custom {
    background-color: #FFFFFF;
    border:1px solid #f8f9fa;
}
.navbar-brand img {
    border-radius: 50%;
    width: 30px;
    height: 30px;
}
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 1,
  'wght' 400,
  'GRAD' 200,
  'opsz' 40
}

.tables,
.figures,
.codes {
    max-width: 800px; /* Adjust this value as needed */
    margin: 0 auto;
    text-align: center;
    margin-bottom: 20px;
}

.table-images,
.figure-images,
.code-images {
    margin-top: 10px;
}
