services:
    laravel.test:
        build:
            context: './vendor/laravel/sail/runtimes/8.3'
            dockerfile: Dockerfile
            args:
                WWWGROUP: '${WWWGROUP}'
        image: 'sail-8.3/app'
        extra_hosts:
            - 'host.docker.internal:host-gateway'
        ports:
            - '${APP_PORT:-80}:80'
            - '${VITE_PORT:-5173}:${VITE_PORT:-5173}'
        environment:
            WWWUSER: '${WWWUSER}'
            LARAVEL_SAIL: 1
            XDEBUG_MODE: '${SAIL_XDEBUG_MODE:-off}'
            XDEBUG_CONFIG: '${SAIL_XDEBUG_CONFIG:-client_host=host.docker.internal}'
            IGNITION_LOCAL_SITES_PATH: '${PWD}'
        volumes:
            - '.:/var/www/html'
            - ./docker/php.ini:/etc/php/8.3/fpm/conf.d/999-custom.ini
            - ./docker/php.ini:/etc/php/8.3/cli/conf.d/999-custom.ini
        networks:
            - topit
        depends_on:
            - mysql

    mysql:
        image: 'mysql:8.0'
        ports:
            - '${FORWARD_DB_PORT:-3306}:3306'
        environment:
            MYSQL_ROOT_PASSWORD: 'secret'
            MYSQL_DATABASE: 'topit'
            MYSQL_ALLOW_EMPTY_PASSWORD: 0
        volumes:
            - 'sail-mysql:/var/lib/mysql'
            - './docker/mysql.cnf:/etc/mysql/conf.d/z-custom.cnf:ro'
        networks:
            - topit
        healthcheck:
            test:
                - CMD
                - mysqladmin
                - ping
                - '-p${DB_PASSWORD}'
            retries: 3
            timeout: 5s

networks:
    topit:
        external: true

volumes:
    sail-mysql:
        driver: local
