@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

@font-face {
    font-family: Inter;
    src: url('../fonts/Inter-VariableFont-wght.ttf');
}

*{
    font-family: Inter;
}

body{
    margin:0;
    padding:0;
    width: 100vw;
    overflow-x: hidden;
    overflow-y: auto;
    font-family: Inter;
    
}

.btn-size{
    font-size:0.9rem;
    padding: 0.8em 1em;
}

.clickable{
    cursor: pointer;
}
.clickable:hover td{
    background-color: #daeafc !important;
}

.page-link{
    z-index: 1 !important;
}
.text-align-end{
    text-align: end;
}

.grid-template-2{
    grid-template-columns: repeat(2,1fr);
}
.grid-template-3{
    grid-template-columns: repeat(3,1fr);
}