body{
    margin:0;
    padding:0;
    overflow-y: scroll;
    overflow-x: hidden;   
}

.admin-bg{
    background-color: #175FC3;
}

.auth_btn{
    font-size: 1em;
    text-decoration: none;
}

.auth-labels {
    font-size: 1.2em;
}

.auth-textbox {
    margin-bottom: .5em;
    height: 3.25em;
    font-size: 16px !important;
    background-color: #eeeeee;
    border-color: #C9C9C9;
}
.auth-textbox:focus {
    outline: 1px solid #d7dee4;
    border-color: #d7dee4 !important;
    box-shadow: none;
}
.auth-textbox:active {
    background-color: #E9E9E9;
    border-color: #C9C9C9;
    box-shadow: none;
}
.image-container{
    background-color: rgba(0,0,0,0.15);
    border-radius: 50%;
}

.background{
    position: fixed;
    z-index: -1;
    height: 100vh;
    width: 100vw;
    /* background: rgb(232,245,255);
    background: -moz-linear-gradient(325deg, rgb(247, 252, 255) 0%, rgb(251, 252, 253) 45%, rgba(237,239,246,1) 100%);
    background: -webkit-linear-gradient(325deg, rgb(247, 252, 255) 0%, rgb(251, 252, 253) 45%, rgba(237,239,246,1) 100%);
    background: linear-gradient(325deg, rgb(247, 252, 255) 0%, rgb(251, 252, 253) 45%, rgba(237,239,246,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#e8f5ff",endColorstr="#edeff6",GradientType=1); */
}

