.nav-link {
    opacity: 0.7;
    font-weight: 400;
    transition: opacity 0.3s ease, background-color 0.3s ease;
}

.nav-link:hover,
.active {
    background-color: rgba(255, 255, 255, 0.1) !important;
    color: white !important;
    opacity: 1 !important;
    border-radius: 0;
    font-weight: 400;
}

#questionBankSubmenu .nav-link,
#coursesSubmenu .nav-link {
    padding-left: 3rem;
    font-size: 0.98rem;
}
.navbar-bg{
    background: linear-gradient(to top, #114A91, #1C81F8);
    position: fixed;
}


/* .disabled{
    background-color: #b6b6b6 !important;
} */

.sub-item{
    padding-left:40rem;
}